/*
MY FIRST WEBSITE
RAFIFOOD RESTAURANT
RAFI HARLIANTO
Versi 1
*/

/*
FOR ALL CSS
*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1%;
  width: 95%;
  margin: 0 auto;
}

.rafi {
  text-decoration: unset;
  color: blue;
}

.text-center {
  text-align: center;
}

.clearfix {
  float: none;
  clear: both;
}

.tbl_full {
  width: 100%;
}

.tbl-30 {
  width: 50%;
}

.tbl-30 tr td {
  width: -100%;
}

.aua {
  width: 20%;
}

.auah {
  width: 90%;
}

table {
  background-color: white;
}

table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}

table tr td {
  padding: 1%;
}

.btn-primary {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1%;
  font-weight: bold;
  align-items: center;
}

.btn-primary:hover {
  background-color: white;
  color: black;
}

.btn-secondary {
  background-color: rgb(98, 227, 98);
  color: white;
  text-decoration: none;
  padding: 2% 3.5%;
  font-weight: bold;
  border-color: rgb(98, 227, 98);
}

.btn-secondary:hover {
  background-color: green;
}

.butt-1 {
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 2% 3.5%;
}

.butt-1:hover {
  background-color: white;
  color: black;
}

.btn-danger {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 2% 5%;
}

.btn-danger:hover {
  background-color: darkred;
}

.success {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}

/*CSS for menu*/
.menu {
  border-bottom: 1px solid;
  background-color: lightgray;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.menu ul li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #46c1d0;
}

/*
CSS for main
*/
.main-content {
  background-color: #46c1d0;
  padding: 3% 0;
}

.col-4 {
  width: 19%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}

/*CSS for footer*/
.footer {
  background-color: lightgray;
  color: black;
}

/*CSS for login*/
.login {
  width: 25%;
  border: 1px solid grey;
  margin: 10% auto;
  padding: 2%;
  background-color: #46c1d0;
}

.boks {
  height: 30px;
}
